.dog{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #022d49;
    
}
.container{
    position: relative;
    width: 1800px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 70px;
}
.container .card{
    position: relative;
    width: 280px;
    height: 280px;
    background: #000;
    transition: 0.5s;
    margin: 15px;
    overflow: hidden;
}
.container .card .photo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .card .photo::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,aqua,navy);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
}
.container .card:hover .photo::before{
    opacity: 1;
}
.container .card .photo img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .card .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
}
.container .card .content div{
    padding: 40px;
    color: white;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.2s;
}
.container .card:hover .content div{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}
.container .card .content h2{
    color: white;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
}
.container .card:hover .content h2{
    transform: translateY(0px);
    transition-delay: 0.3s;
}
.container .card .content p{
    color: white;
    transition: 0.5s;
    margin-bottom: 5px;
    font-size: 14px;
    transform: translateY(200px);
}
.container .card:hover .content p{
    transform: translateY(0px);
    transition-delay: 0.4s;
}