.dog{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #022d49;
}
.container{
    position: relative;
    width: 1800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin: 80px;
}
.container .card{
    position: relative;
    max-width: 300px;
    height: 220px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.container .card:hover{
    height: 360px;
}
.container .card .zoom{
    position: relative;
    width: 260px;
    height: 200px;
    top: -50px;
    left: 20px;
    overflow: hidden;
    box-shadow: 0 255px 255px rgba(0,0,0,0.2);
}
.container .card .zoom img{
    max-width: 100%;
    border-radius: 4px;
}
.container .card .content{
    position: relative;
    margin-top: -240px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.4s;
}
.box a{
    position: relative;
    display: inline-block;
    padding: 10px 24px;
    color: blue;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    font-size: 14px;
    overflow: hidden;
    transition: 0.2s;
}
.box a:hover{
    color: white;
    background: #706867;
    transition-delay: 1s;
}
.box a span{
    position: absolute;
    display: block;
}
.box a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,navy);
}
.box a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
.box a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,navy);
}
.box a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.box a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,navy);
}
.box a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.box a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,navy);
}
.box a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}