
.hood h2{
    font-size: 7em;
    font-weight: 1000;
    color: rgb(243, 16, 53);
    letter-spacing: 5px;
    cursor: pointer;
}
.hood h2 span{
    transition: 0.5s;
}
.hood h2:hover span:nth-child(1){
    margin-right: 10px;
}
.hood h2:hover span:nth-child(1):after{
    content: " Tourism";
}
.hood h2:hover span:nth-child(2){
    margin-left: 40px;
}
.hood h2:hover span{
    color: rgb(240, 100, 6);
    text-shadow: 0 0 10px Aqua;
    text-shadow: 0 0 20px Aqua;
    text-shadow: 0 0 40px Aqua;
    text-shadow: 0 0 80px Aqua;
    text-shadow: 0 0 120px Aqua;
    text-shadow: 0 0 160px Aqua;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    display: flex;
    margin-top: 180px;
}
.box:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.5);
}
.box .xbox{
    width: 150px;
    flex: 0 0 150px;
}
.box .xbox food{
    max-width: 100%;
}
.box .food{
    padding-left: 20px;
    margin: 50px;
}
.box .food h2{
    margin: 0;
    padding-left: 0;
    color: #ff005c;
    font-size: 22px;
}
.box .food p{
    margin: 0;
    padding: 10px 0 0;
    text-align: justify;
}